main{
  text-align: center;
  margin-top: 10px;
}
.pic-and-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: ;
  grid-template-areas: ". .";
  grid-gap: 20px;
  width: 80%;
  margin: 40px auto 80px auto;
}
.pic-and-text>img{
  width: 100%;
}
.pt-text{
  text-align: left;
}
.pt-image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.top-banner{
  background-image: url('./img/grade.svg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 2300px;
  margin: auto;
}
.banner-contain{
  display: inline-block;
  margin: 90px auto 90px auto;
}
.banner-contain>h1,.banner-contain>p{
  margin: 20px;
  text-shadow: 0 1px 3px white;
}
#pt-image1{
  background-image: url('./img/teaching.svg');
}
#pt-image2{
  background-image: url('./img/brainstorming.svg');
}
#pt-image3{
  background-image: url('./img/board.svg');
}

@media (max-width: 780px){
  .pic-and-text{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "." ".";
    grid-gap: 20px;
  }
}
