li{
  vertical-align: middle;
  margin: 10px;
  font-family: font-family: 'Roboto', sans-serif;
  color: var(--mainColor);
  display: inline;
  white-space: nowrap;
}
.work-wall{
  transition: all 0.5s;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: ;
  grid-template-areas: ". . . .";
  grid-gap: 15px;
  padding: 20px;
  background: linear-gradient()
}
.deadline-card{
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: all 0.2s;
  background-color: white;
  border-radius: 3px;
  border-top: 12px solid var(--mainColor);
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 0px;
  z-index: 0;
}
.deadline-card:hover{
  border-top: 12px solid var(--secondaryColor);
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.deadline-card>h1{
  margin: 5px;
  margin-bottom: 35px;
}
.deadline-card>h3{
  font-family: 'Maven Pro', sans-serif;
  color: var(--mainColor);
  margin: 5px 0 5px 0;
}
.deadline-card>progress{
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  height: 5px;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.deadline-card>p{
  margin: 7px;
}
progress>p{
  position: absolute;
  z-index: 9999;
}
progress::-webkit-progress-bar{
  background-color: white;
}
progress::-webkit-progress-value{
  background-color: var(--secondaryColor);
}
progress::-moz-progress-bar{
  background-color: var(--secondaryColor);
  outline: none;
  border: none;
}
.workgroup>ul{
  text-align: left;
  border-top: 15px solid var(--mainColor);
  width: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 0;
  display: block;
  list-style: none;
  vertical-align: middle;
  background-color: white;
  border-radius: 5px;
}
.complete{
  border-top: 12px solid #a8ea56;
}
.due-date{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.empty{
  text-align: center;
}
@media (max-width: 750px){
  .work-wall{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: ;
    grid-template-areas: ". . .";
  }
}
@media (max-width: 600px){
  .work-wall{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: ;
    grid-template-areas: ". .";
  }
  .chat-popup{
    right: 0;
    bottom: 0;
    margin: 10px;
  }
}
@media (max-width: 300px){
  .work-wall{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: ;
    grid-template-areas: ".";
  }
}
@media (max-width: 450px){
  .work-wall{
    display: inline-block;
  }
  .deadline-card{
    margin-bottom: 20px;
  }
}
@media (max-width: 780px){

}
