.card a{
  background-color: #2eb0ff;
  border: 0;
  border-radius: 3px;
  margin: 0 10px 20px 20px;
  padding: 10px;
  color: white;
  font-family: 'gilroy-extrabold';
  display: inline-block;
  text-decoration: none;
}
